body {
  display: flex;
  flex-direction: row;
}

body > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main {
  flex-grow: 1;
  padding: var(--spacing);
  display: flex;
  align-items: stretch;
  gap: var(--spacing);
  background: var(--color-primary-light);
}

#left-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

#left-section .card:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#left-section .card:first-child div:last-child {
  width: 100%;
  text-align: center;
}

#left-section .card:last-child {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#left-section .card:last-child span {
  margin-bottom: var(--spacing-half);
}

#left-section form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-quarter);
}

#right-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

#right-section .card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#top-right-section {
  flex-grow: 1;
  display: flex;
  gap: var(--spacing);
}

#bottom-right-section {
  flex-grow: 1;
}

#bottom-right-section .card {
  height: 100%;
}

#bottom-right-section .placeholder {
  height: 100%;
  width: 100%;
  background: var(--color-secondary-light);
}

.card {
  background: white;
  padding: var(--spacing);
  border-radius: 15px;
}

.bank-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bank-info > div {
  font: var(--font-headline-6);
}

.bank-info > div span {
  vertical-align: sub;
}

.bank-info .caption {
  display: inline-block;
  width: 50%;
  font: var(--font-caption);
  text-align: left;
}

.bank-info .card-title {
  display: inline-block;
  width: 50%;
  text-align: right;
}

.description-column {
  flex-grow: 1;
}
