table.transaction-table {
  border: 1px solid black;
  width: 100%;
}

.transaction-table td,
.transaction-table th {
  border: 1px solid black;
  padding: 0 var(--spacing-half);
}

.transaction-table .negative {
  color: red;
}

.delete {
  color: red;
  cursor: pointer;
}
