<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>

  <div class="container">
    <!--Primeira coluna-->
    <div class="primeira-coluna">
      <h2 class="title">Criar sua conta</h2>
      <form class="form" action="/home">
        <input type="text" placeholder="Nome">
        <input type="email" placeholder="E-mail">
        <input type="password" placeholder="Senha">
        <input type="password" placeholder="Confirmar Senha">
        <button class="btn">Cadastre-se</button>
        <div>
          <ul class="lista-sociais">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Google+</a></li>
          </ul>

        </div>
        <p class="descricao">
          Ao clicar em cadastre-se você está de acordo com os termos de uso = políticas de privacidade
        </p>

      </form>
    </div>

    <!--Segunda coluna-->
    <div class="segunda-coluna">
      <span class="material-icons" id="main-logo">account_balance</span>
      <!-- <img src="../img/logo.bank.png" alt="logo do site" class="imagem" > -->
      <!-- <h2 class="nome">NOME DO SITE</h2> -->
      <a href="/login" style="color: inherit; text-decoration: none;"><button class="btn-entrar">Entrar</button></a>

    </div>

  </div>
</body>

</html>
