<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>

  <div class="container">
    <!--Primeira coluna-->
    <div class="primeira-coluna">
      <h2 class="title">Criar sua conta</h2>
      <form action="" method="post"
            class="form">
        <input type="text" name="nome" placeholder="Nome">
        <input type="email" name="email" placeholder="E-mail">
        <input type="password" name="senha" placeholder="Senha">
        <!-- <input type="password" placeholder="Confirmar Senha"> -->
        <button class="btn">Cadastre-se</button>
        <!-- <button class="btn-entrar">Entrar</button> -->
        <div>
          <ul class="lista-sociais">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Google+</a></li>
          </ul>

        </div>
        <p class="descricao">
          Ao clicar em cadastre-se você está de acordo com os termos de uso = políticas de privacidade
        </p>

      </form>
    </div>

  </div>
</body>

</html>
