<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
  <main>
    <aside>
      <div class="container">
        <div class="navigation">
          <ul>
            <li>
              <a href="#">
                <span class="material-icons">
                  laptop
                </span>

                <span class="title">Name</span>
              </a>
            </li>
            <li>
              <a href="/home">
                <span class="material-icons">home</span>
                <span class="title">Home</span>
              </a>
            </li>
            <li>
              <a href="/customizacao">
                <span class="material-icons">settings</span>
                <span class="title">Customização</span>
              </a>
            </li>
            <li>
              <a href="/login">
                <span class="material-icons">logout</span>
                <span class="title">Sair</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </aside>

    <!-- main -->
    <section>
      <div class="main">
        <div class="topbar">
          <div class="toggle">
            <span class="material-icons">menu</span>
          </div>
          <div>
            <span>Análise</span>
          </div>

          <!-- userImage -->
          <div class="user">
            <span class="material-icons">account_circle</span>
          </div>
        </div>

        <!-- cards -->
        <div class="cardBox">
          <% dados.forEach(dado => { %>
          <div class="card">
            <div>
              <div class="numbers">R$ <%= dado.valor %> </div>
              <div class="cardName"> <%= dado.descricao %> </div>
            </div>
            <div class="iconBx">
              <span class="material-icons"><%= dado.icone %> </span>
            </div>
          </div>
          <% }) %>
        </div>

        <!-- charts -->
        <div class="graphBox">

          <div class="box">
            <canvas id="myChart"></canvas>
          </div>
          <div class="box">
            <canvas id="verticalBar"></canvas>
          </div>
        </div>

      </div>
    </section>
  </main>
  <script>
    //menu
    let toggle = document.querySelector('.toggle');
    let navigation = document.querySelector('.navigation');
    let main = document.querySelector('.main');
    let graphBox = document.querySelector('.graphBox')
    toggle.onclick = function () {
      navigation.classList.toggle('active');
      main.classList.toggle('active');
      // graphBox.classList.toggle('active');
    }

    //hovered
    let list = document.querySelectorAll('.navigation li');
    function activeLink() {
      list.forEach((item) =>
        item.classList.remove('hovered'));
      this.classList.add('hovered');
    }
    list.forEach((item) =>
      item.addEventListener('mouseover', activeLink));
  </script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
  <script src="/javascripts/my_chart.js"></script>
</body>

</html>
