<!DOCTYPE html>
<html lang="en">
  <% styles.push('header', 'navigation') %> <%- include('./partials/head') %>

  <body>
    <%- include('./partials/navigation') %>
    <div>
      <%- include('./partials/header') %>
      <main>
        <section id="desktop">
          <form action="" method="post">
            <label for="nome">Nome:</label><br />
            <input type="text" id="nome" name="nome" /><br />
            <label for="sobrenome">Sobrenome:</label><br />
            <input type="text" id="sobrenome" name="sobrenome" />

            <p>Fonte de Renda</p>
            <input
              type="checkbox"
              id="mesada"
              name="fonte-renda"
              value="mesada"
            />
            <label for="mesada">Mesada</label><br />
            <input
              type="checkbox"
              id="freela"
              name="fonte-renda"
              value="freela"
            />
            <label for="freela">Freela</label><br />
            <input
              type="checkbox"
              id="emprego"
              name="fonte-renda"
              value="emprego"
            />
            <label for="emprego">Emprego</label><br />
            <input
              type="checkbox"
              id="outros"
              name="fonte-renda"
              value="outros"
            />
            <label for="outros">Outros</label>

            <br />
            <button type="submit">Atualizar</button>
          </form>
        </section>
      </main>
    </div>
  </body>
</html>
