<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
  <main class="forgot">
    <h1>Esqueceu sua Senha?</h1>
    <form action="/login">
      <p>
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email" placeholder="Digite seu email">
      </p>
      <p>
        <input type="submit" name="" value="ESQUECI A MINHA SENHA">
      </p>
  </main>
</body>

</html>
