<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
  <header>
    <span class="material-icons">menu</span>
    <a href="/home">
      <h4>Titulo</h4>
    </a>
    <div id="spacer"></div>
    <strong>Usuario</strong>
    <a href="/login"><span class="material-icons">account_circle</span></a>
    <a href="/customizacao"><span class="material-icons">settings</span></a>
    <div id="vertical-line"></div>
    <a>Ajuda</a>
  </header>

  <main>
    <section id="left-section">
      <div class="card">
        <div>
          <span class="card-title">Lorem</span>
          <br>
          ipsum dolor sit amet consectetur adipisicing elit
        </div>
        <div class="card-title">
          0800 XXX XXXX
        </div>
      </div>
      <div class="card">
        <span class="card-title">Lorem ipsum dolor sit</span>
        <div class="bank-info">
          <div>
            <span class="material-icons">account_balance</span> Amet consectetur
          </div>
          <span class="caption">Adipisicing elit</span>
          <br>
          <span class="card-title">R$ X.XXX,XX</span>
        </div>
        <div class="bank-info">
          <div>
            <span class="material-icons">account_balance</span> Rerum quas reiciendis
          </div>
          <span class="caption">Provident dicta</span>
          <br>
          <span class="card-title">R$ X.XXX,XX</span>
        </div>
      </div>
      </div>
    </section>
    <section id="right-section">
      <section id="top-right-section">
        <div class="card">
          <span class="overline">Lorem</span>
          <br>
          <span class="card-title">Ipsum dolor sit amet consectetur</span>
          <br>
          <span class="caption">Adipisicing elit</span>
        </div>
        <div class="card">
          <span class="overline">Lorem</span>
          <br>
          <span class="card-title">Ipsum dolor sit amet consectetur</span>
          <br>
          <span class="caption">Adipisicing elit</span>
        </div>
      </section>
      <section id="bottom-right-section">
        <div class="card">
          Lorem ipsum dolor sit amet consectetur adipisicing elit
          <a href="/chart" style="height: 100%;">
            <div class="placeholder"></div>
          </a>
        </div>
      </section>
    </section>
  </main>
</body>

</html>
