<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
  <main class="login">
    <img src="./images/dollar.png" alt="avatar" class="avatar">
    <h1>Faça seu Log In</h1>
    <form action="/login" method="post">
      <p>
        <label for="email">E-mail:</label>
        <input type="email" name="email" placeholder="Digite seu email">
      </p>
      <p>
        <label for="password">Senha:</label>
        <input type="password" name="senha" placeholder="Digite sua senha">
      </p>
      <p>
        <input type="submit" name="" value="Log In">
      </p>
      <p>
        <a href="/forgot">Esqueci minha senha</a>
        <br>
        <a href="/cadastro">Fazer Cadastro</a>
      </p>
    </form>
  </main>

</body>

</html>
