<header>
  <div class="toggle">
    <span class="material-icons">menu</span>
  </div>
  <div>
    <span><%= title %> </span>
  </div>

  <!-- userImage -->
  <div class="user">
    <span class="material-icons">account_circle</span>
  </div>
</header>
