<aside>
  <nav>
    <ul>
      <li>
        <a href="#">
          <span class="material-icons">account_balance</span>
          <span class="title">Name</span>
        </a>
      </li>
      <li>
        <a href="/home">
          <span class="material-icons">home</span>
          <span class="title">Home</span>
        </a>
      </li>
      <li>
        <a href="/chart">
          <span class="material-icons">insights</span>
          <span class="title">Análise</span>
        </a>
      </li>
      <li>
        <a href="/customizacao">
          <span class="material-icons">settings</span>
          <span class="title">Customização</span>
        </a>
      </li>
      <li>
        <a href="/login">
          <span class="material-icons">logout</span>
          <span class="title">Sair</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
