*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font: var(--font-body-1);
  height: 100%;
}

h1 {
  font: var(--font-headline-1);
}

h2 {
  font: var(--font-headline-2);
}

h3 {
  font: var(--font-headline-3);
}

h4 {
  font: var(--font-headline-4);
}

h5 {
  font: var(--font-headline-5);
}

h6 {
  font: var(--font-headline-6);
}

button {
  font: var(--font-button);
}

figcaption,
caption,
label,
legend {
  font: var(--font-caption);
}
