body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  gap: var(--spacing);

  padding: var(--spacing-half);

  background: var(--color-primary-dark);
  color: var(--color-font-primary-dark);
  border-bottom: 1px solid;
}

#spacer {
  flex-grow: 1;
}

#vertical-line {
  height: 1.5rem;

  border: 1px solid;
}

main {
  height: 100%;
  padding: var(--primary-spacing);

  display: flex;
  align-items: stretch;
  gap: var(--primary-spacing);

  background: #dddddd;
}

#menuLeft {
  display: flex;
  flex-direction: column;
  gap: var(--primary-spacing);
}

#menuLeft .option:first-child {
  flex-grow: 1;

  position: relative;
}

.card {
  padding: var(--primary-spacing-half);

  border: 1px solid black;
  background: white;
}
