body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  gap: var(--primary-spacing);

  padding: var(--primary-spacing-half);

  background: var(--color-primary-dark);
  color: var(--color-font-p-d);
  border-bottom: 1px solid;
}

#spacer {
  flex-grow: 1;
}

#vertical-line {
  height: 1.5rem;

  border: 1px solid;
}

main {
  height: 100%;
  padding: var(--primary-spacing);

  display: flex;
  align-items: stretch;
  gap: var(--primary-spacing);

  background: var(--color-primary-light);
}

#left-section {
  display: flex;
  flex-direction: column;
  gap: var(--primary-spacing);
}

#left-section .card:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#left-section .card:first-child div:first-child {
  padding: var(--primary-spacing);
}


#left-section .card:first-child div.card-title {
  width: 100%;
  padding: var(--primary-spacing-half);

  text-align: center;
}

#left-section .card:last-child {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

#left-section .card:last-child span.card-title {
  padding: var(--primary-spacing-half);
}

#right-section {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: var(--primary-spacing);
}

#right-section .card{
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--primary-spacing-quarter);

  padding: var(--primary-spacing);
}

#top-right-section {
  flex-grow: 1;

  display: flex;
  gap: var(--primary-spacing);
}

#top-right-section .overline {
  font: var(--font-overline);
}

#top-right-section .caption {
  font: var(--font-caption);
}

#bottom-right-section {
  flex-grow: 1;
}

#bottom-right-section .card {
  height: 100%;
}

#bottom-right-section .placeholder {
  height: 100%;
  width: 100%;

  background: var(--color-secondary-light);
}

.card {
  background: white;
}

.card-title {
  font-weight: bolder;
}

.bank-info {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bank-info>div{
  font: var(--font-headline-6);
}

.bank-info>div span{
  vertical-align: sub;
}

.bank-info .caption{
  display: inline-block;

  width: 50%;

  font: var(--font-caption);
  text-align: left;
}

.bank-info .card-title{
  display: inline-block;

  width: 50%;
  text-align: right;
}
